<form action="http://localhost:8080/posts/add" method="post">

    <label for="">titre</label>
    <input type="text" name="titre" id="titre">
    <label for="">contenue</label>
    <input type="text" name="continue" id="continue">
    <label for="">nom de l'auteur</label>
    <input type="text" name="nomAuteur" id="nomAuteur">
    <label for="">prenom de l'auteur</label>
    <input type="text" name="prenomAuteur" id="prenomAuteur">
    <input type="submit">

</form>